body{
    width: 1400px;
    align-content: center;
}
header {
    background-color: gray;
    height: 80px;
    color:white;    
}
h1 {
    padding: 0px 60px;
    font-size: 60px;
    font-variant-caps: all-petite-caps;
}
header ul {
    position: absolute;
    top: 35px;
    list-style-type: none;
    font-size: 20px;
    font-family: arial;
    margin: 0px 0px 80px 0px;
    width: 85%;
    height:10px;
    float: right;
    text-align: right;
}
li {
    display: inline;
    margin-left: 20px;
    margin-right: 60px;
}
.banner{
    background-color: black;
    height: 300px;
    border:15px solid black;
}
#tmyk{
    color: yellow;
    font-size: 80px;
    text-align: center;

}
.grBox{
    background-color: white;
    height: 800px;
    margin-left: 40px;
    
}
.grnBox{
    display: inline-block;
    height: 310px;
    width: 310px;
    background-color: aquamarine;
    margin: 50px 55px;
    border:10px solid aquamarine;
    border-radius: 45px;
}
.tanBox{
    display: inline-block;
    height: 320px;
    width: 540px;
    background-color: tan;
    border:10px solid tan;
    margin:20px 50px;
}
.rightPic{
    width: 45%;
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 30px;
}
.leftText{
    float: left;
    width: 35%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 50px;
    margin-top: 50px;
}
footer{
    height: 160px;
    background-color: navy;
}
.clearfloat{
    clear: both;
    height: 20px;

}